extends layout

block content
  div(class="page-title")
    h1 #{title}
    p #{text}
    div(class="errors")
      if errors
        for i in errors
          p #{i}
  form(method='POST', action='')
    div(class="input-form")
      label(for='password') New Password(min 8 characters):
      input#password.form-control(type='password', name='password', value='')
    div(class="submit-buttons") 
      button.btn.btn-primary(type='submit') Reset Passowrd